#head {
    background: #113355 url('../img/banner.jpg') no-repeat left center;
    background-size: 100%;
    padding-top: 95px;
}
#head h1 {
    color: #ddeeff;
    padding-bottom: 30px;
    text-shadow: 1px 1px 5px #000000;
}
#nav {
    background: #112244;
}
#nav a { color: #ddeeff;}
#nav a:hover { color: #113355;}
#footer, #footer * {
    background-color: #112244;
    color: #ddeeff;
}
#bottom {
    text-align: center;
    border-top: solid 1px #666;
    padding-top: 0.6em;
}
.fb-like {
    margin: 0.5em 0 1em;
    padding: 0.5em 0;
    border-top: solid 1px #666;
    border-bottom: solid 1px #666;
}
#post img {
    float: left;
    margin: 0.5em 0.5em 0.5em 0;
}
/* fix for google search button */
.gsc-control-cse .gsc-table-result {
    font-family : inherit;
}

.gsc-control-cse .gsc-input-box {
    height : inherit;
}

input.gsc-input,
.gsc-input-box,
.gsc-input-box-hover,
.gsc-input-box-focus,
.gsc-search-button, input.gsc-search-button-v2 {
    box-sizing  : content-box;
    line-height : normal;
    margin-top  : 0px;
}